$primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-color: rgba(255, 255, 255, 0.87);
$link-color: #646cff;
$link-hover-color: #535bf2;
$link-hover-color-light: #747bff;
$button-bg-color: #1a1a1a;
$button-bg-color-light: #f9f9f9;
$button-hover-border: #646cff;
$outer-margin: 60px;


:root{

	box-sizing: border-box;
	font-family: $primary-font;
	line-height: 1.5;
	font-weight: 400;
	height: 100vh;

	color-scheme: light dark;
	color: $primary-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	text-align: center;

	border-radius: 5px;
	border: 1px solid transparent;

	overflow: hidden;

	@media (prefers-color-scheme: light) {
		color: #213547;
		background-color: #ffffff;
	}

	a {
		font-weight: 500;
		color: $link-color;
		text-decoration: inherit;

		&:hover {
			color: $link-hover-color;

			@media (prefers-color-scheme: light) {
				color: $link-hover-color-light;
			}
		}
	}

	h1 {
		font-size: 3.2em;
		line-height: 1.1;
	}

	button {
		position: relative;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 0.6em 1.2em;
		font-size: 1em;
		font-weight: 500;
		font-family: inherit;
		background-color: $button-bg-color;
		cursor: pointer;
		transition: border-color 0.25s;

		&:hover {
			border-color: $button-hover-border;
		}

		&:focus,
		&:focus-visible {
			outline: 4px auto -webkit-focus-ring-color;
		}

		@media (prefers-color-scheme: light) {
			background-color: $button-bg-color-light;
		}
	}

	body {
		height: 100%;
		margin: 0;
		padding: 0;
		//background-image: url("../assets/images/bkgnd.jpg");
		//set background image to the image in the assets/images folder
		background-repeat: no-repeat;
		background-size: cover;


		#root {

			display: flex;
			//gap: 10px;
			flex-direction: column;
			border: 1px solid transparent;
			margin: $outer-margin;

			width: calc(100% - 2*$outer-margin); /* Adjust 20px to your actual margin */
			height: calc(100% - 2*$outer-margin); /* Adjust 20px to your actual margin */

			#header {
				flex: 0 0 50px;
				border-radius: 20px 20px 0 0; /* top-left, top-right, bottom-right, bottom-left */
				border: 1px solid transparent;
				background-color: #ff0000;

				// Add your styles for the header here

			}

			#content {
				flex: 1;
				//gap: 5px;
				display: flex;
				flex-direction: row;


				.info {
					flex: 0 0 30%;
					border: 1px solid transparent;
					background-color: #00ff00;

					// Add your styles for the info panel here

				}

				.result {
					flex: 1;
					border: 1px solid transparent;
					background-color: #0000ff;

					// Add your styles for the content here

				}
			}

			#footer {
				flex: 0 0 50px;
				border-radius: 0 0 10px 10px; /* top-left, top-right, bottom-right, bottom-left */
				border: 1px solid transparent;
				background-color: #0ea238;

				// Add your styles for the footer here

			}
		}
	}
}
